@import "../../../../assets/style/app";

.card {
  border: 1px solid #000;
  border-radius: 16px;
  box-shadow: 0 8px 0 0 #000;
  height: 414px;
  padding: 16px 16px 0;
  box-sizing: border-box;

  @include desktop {
    width: 390px;
    height: 457px;
  }

  img {
    display: block;
    width: 100%;
    height: auto;
    max-width: 280px;

    @include desktop {
      width: 358px;
      margin-left: 0;
      margin-right: 0;
      max-width: 100%;
    }
  }

  .label {
    margin-top: 24px;
    @include TitanOne;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    text-transform: uppercase;
    color: #000;

    @include desktop {
      font-size: 32px;
    }
  }

  .description {
    margin-top: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #000;
  }


}