@import '/src/functions';

.modal {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  backdrop-filter: blur(10px);
  padding: rem(80) rem(100);
  overflow-y: auto;

  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
  &.open {
    visibility: visible;
    opacity: 1;
    pointer-events: unset;
  }

  @media (max-width: 767px) {
    padding: remMb(120) remMb(20);
  }

  &__bg {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }

  &Body {
    position: relative;
    background: linear-gradient(180deg, rgba(3, 25, 43, 0.71) 0%, #000 100%);
    max-width: rem(710);
    margin: 0 auto;
    border-radius: rem(47);
    padding: rem(28) rem(40) rem(50);

    @media (max-width: 767px) {
      max-width: 100%;
      border-radius: rem(47);
      padding: remMb(20) remMb(20) remMb(25);
    }

    &__close {
      cursor: pointer;
      position: absolute;
      top: rem(28);
      right: rem(40);
      width: rem(53);
      height: rem(53);
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0 rem(4) rem(26) 0 rgba(0, 0, 0, 0.8);
      border-radius: 50%;
      background: rgba(38, 38, 38, 0.8);

      transition: all 0.3s ease;
      &:hover {
        background: rgba(71, 71, 71, 0.8);
      }

      @media (max-width: 767px) {
        top: remMb(10);
        right: remMb(10);
        width: remMb(20);
        height: remMb(20);
      }

      svg {
        width: rem(22);
        height: rem(22);

        @media (max-width: 767px) {
          width: remMb(10);
          height: remMb(10);
        }
      }
    }

    &__logo {
      width: rem(67);
      margin: 0 auto;

      @media (max-width: 767px) {
        width: remMb(40);
      }

      svg {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    &__title {
      margin: rem(25) 0 0;
      font-family: DaysOne;
      font-weight: 400;
      font-size: rem(41);
      text-transform: uppercase;
      text-align: center;
      color: #fff;

      @media (max-width: 767px) {
        margin: remMb(15) 0 0;
        font-size: remMb(20);
      }
    }

    &__text {
      margin: rem(35) 0 0;
      font-family: DaysOne, sans-serif;
      font-weight: 400;
      font-size: rem(20);
      text-transform: uppercase;
      text-align: center;
      color: #fff;

      @media (max-width: 767px) {
        margin: remMb(15) 0 0;
        font-size: remMb(14);
      }
    }

    &__button {
      display: flex;
      justify-content: center;
      gap: rem(24);
      margin: rem(35) 0 0;

      @media (max-width: 767px) {
        margin: remMb(15) 0 0;
        gap: remMb(15);
      }

      button {
        width: rem(230);
        background: transparent;
        background: #fff;
        border-radius: rem(42);
        overflow: hidden;

        font-family: 'DaysOne', sans-serif;
        font-weight: 400;
        min-height: rem(58);
        font-size: rem(18);
        text-transform: uppercase;
        text-align: center;
        color: #182733;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: rem(10);

        @media (max-width: 767px) {
          width: remMb(140);
          min-height: remMb(36);
          font-size: remMb(12);
          border-radius: remMb(22);
          gap: remMb(5);
        }

        transition: all 0.3s ease;
        &:hover {
          opacity: 0.8;
        }

        svg {
          width: rem(23);

          @media (max-width: 767px) {
            width: remMb(14);
          }
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }
}
